# Crazy little thing called Py - Exercise lesson 3
by Dr. Tal Alon, 2022

## Using Functions, Map and Filter

The following code reads the 'heights.csv' file into a list of lists.

Run it.

Notice that I do it a little more concisely this time. This file holds 1000 made up heights, in meters.

In [ ]:
from csv import reader
with open('heights.csv') as fp:
    data = list(reader(fp))

#### a

First, notice that all the data is in one line, but the structure is still of a 'list of lists', so that this entire line is at data[0].
I would just change it to data = data[0] to make things simpler, but it is up to you.

Instead of using a loop, use the 'map' function to convert all the value strings into actual float values (you can overwrite 'data')

#### b

Write a function called 'average' that takes a list of numeric values as an agrument and returns the sum of all the values

#### c

Use the 'average' function you created to calculate the average height. You should get 1.6909699999999996.

#### d

Use the 'filter' function to create a new data set of heights that are above or equal to 1.70 m. You can use lambda to do it (try).

How many are there? (there are 483)

#### e

Use the same 'average' function you created to calculate the average of this new data set. You should get 1.853395445134575.

This is why we have functions, to use again and a again and save ourselves time and make our code shorter and more readable and free of bugs.

## Analyzing a data set

I have supplied you with a new dataset: amazon jobs and their descriptions, scraped from their website. We are going to dig into it using the things we learned and some new things I am going to teach you here. 

I tried to provide you with as little help I could... so you can test your growing skills. If you do need help you can look at the bottom of this notebook for it.

Also, I added my results below for comparison, so check yourselves.

Share parts of your code if you have problems or if you want to show something cool you did.

Good luck!

#### Task 0:

Use Excel or just a text editor to open the two files provided: 'amazon_jobs_dataset.csv'  and 'country codes.csv'. Go over the column titles, and try to understand what the data looks like. This step is actually the first step in every data analysis project.... looking at the data.

#### Task 1:

Using the csv reading technique we used before, open the file 'amazon_jobs_dataset.csv' with encoding='utf-8' and read it into a list of lists.

#### Task 2:

In the same way create a dictionary of country codes (not a list) from the file 'country_codes.csv'. Can you figure out how to do this on your own? look at how we created a list.... how can we create a dictionary instead? If you need more detailed instructions you can look at the bottom of this notebook for it.

#### Task 3:

Go over the 'BASIC QUALIFICATIONS' column and analyze it to see how many times one of the next programming languages appear in them: Python, C++, and C#. There can be several languages specified in each job posting (they all should be counted).

Recommendation: start with a non-empty dictionary, that already have values of 0 for each of the languages.

Compare your results to mine, see them at the bottom of this notebook.

#### Task 4:

Go over the 'Title' column, it holds the job titles.<br>
Print out all job titles that appear 10 or more times, sorted from most appearnaces to least, alog with the number of apearances.

Compare your results to mine, see them at the bottom of this notebook.

#### Task 5:

This task is special, and here is why: 

1. It requires you to use something I did not teach at my lecture - which is sets. Sets are like dictionaries, but they only hold keys (no values). So every key is unique, just like in a dictionary. If we turn a list into a set (by using the function 'set', for example set(my_list)), we get a set (obviously) holding all the unique values in the list (no duplicates). We can turn the set back into a list (using the 'list' function) if we want. Also, you add a value to a set using its 'add' method.

2. It is more complicated than usual, as it requires using both data sets and several accessing techniques, as well as string manipulation techniques. It is best if you try it with no additional help, but if you do want help look for it at the bottom of this notebook.

Ok, here is the task itself:

Go over the job location column for all jobs, the two letters of each value is a code for the country.

Your task is to print all country names that have jobs in them, with no duplications (every country appears only once) and sorted alphabetically. print out the country names, not codes.

Important: 
- To start with an empty set you have to write something like this: countries = set()
- Note that there is one problematic job entry that has an empty location string, so you might want to test for it or use the get function to access the country-code dictionary.
- Tackle this problem step by step.

#### Task 6:

Try to figure out something else from this data set. Think of a question and then figure out how to get the answer and go for it. Please share your results with the group

## Help Section

#### Help for task 1:

from csv import reader<br>
fp = open('amazon_jobs_dataset.csv', encoding='utf-8')<br>
data = list(reader(fp))<br>
fp.close()<br>

#### Help for task 2:

after you open the file use : country_codes = dict(reader(fp))


#### Task 3 - my results (compare)

Python: 898<br>
C++: 2106<br>
C#: 949<br>

If your count is lower, you might have checked in a case-sensitive way.... 'Python' can also appear as 'python'


#### Task 4 - my results (compare)

Software Development Engineer : 705<br>
Software Development Manager : 122<br>
Senior Software Development Engineer : 115<br>
Sr. Software Development Engineer : 58<br>
Software Development Engineer  : 56<br>
Software Development Engineer Ii : 50<br>
Web Development Engineer : 20<br>
Software Development Engineer, Amazon Alexa : 18<br>
Senior Software Engineer : 18<br>
Software Development Engineer Ii - Alexa Deep Product Knowledge  : 17<br>
Software Development Engineer – In-Memory Distributed Systems : 13<br>
Software Engineer : 12<br>
Sr Software Development Engineer : 12<br>
Software Development Engineer (Fullstack) : 12<br>
Software Development Engineer, Speech And Language Technologies : 12<br>
Senior Software Development Engineer  : 11<br>
Software Development Engineer – Alexa Machine Learning Platform : 10<br>
Manager, Software Development : 10


#### Help for Task 5:

General process:
- create an empty set
- go over all jobs using a for loop
- for each job get the location string
- get the country code from the location string using split (see more on this below)
- get the country name by looking up the country code in the country code dictionary you have prepared in task 2 (using the get fucntion... there is one problematic job that has no location specified.. anoying but realistic)
- add the country name to the set. There is no need to test and see if it is already there, this is a set, there are no duplicates.
- after the for loop ends simple print the sorted set

Using the split funtion to get the country code from the location string:

every string object has internal function we can access using '.' , one such function is the 'split' function. the 'split' function splits the original string into a list of substrings. by default it splits the string where there are spaces, for example:

if we have a string: string1 = 'Hi everybody'
The code: string1.split() will produce a list that looks like this ['Hi', 'everybody']

but we can pass an argument to split, that tells it what charater to split on, so we can write split(',') to split on commas instead of spaces.

we can then access each sucstring using their index. to get the first substring use string1.split()[0] etc

compare your results to mine:<br>
['-',<br>
 'Australia',<br>
 'Brazil',<br>
 'Canada',<br>
 'China',<br>
 'France',<br>
 'Germany',<br>
 'India',<br>
 'Ireland',<br>
 'Israel',<br>
 'Italy',<br>
 'Japan',<br>
 'Jordan',<br>
 'Luxembourg',<br>
 'Mexico',<br>
 'Netherlands',<br>
 'Poland',<br>
 'Romania',<br>
 'Singapore',<br>
 'South Africa',<br>
 'Spain',<br>
 'Taiwan, Province of China',<br>
 'United Arab Emirates',<br>
 'United States']<br>